* {
    box-sizing: border-box;
}

.negro{
    font-style: black;
}
.grisb {
    background-color: gray !important;
    border-radius: 8px; 
    margin: 2em;
    padding-bottom: 4em;
}
body {
    font-family: Arial, sans-serif;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
}
.padr30{
    padding-right: 30em
}
.mar30{
    margin-right: 30em;
}
.bloque{
    display: block;
}
.rojob{
    background-color: red;
}
.blanco {
    color: white
}
.gigante {
    font-size: 5rem; 
    text-align: center;
}
.blancob {
    background-color: white;
}

.flex {
    display: flex;
}

.margin0 {
    margin: 0;
}

.deconone {
    text-decoration: none;
}

.deconone:hover {
    text-decoration: none;
}

/* .flexwrap{
    flex-wrap: wrap;
} */
.pad0 {
    padding: 0;
}

.abajo {
    width: 100%;
}

header {
    background-color: rgba(199, 1, 1, 0.808);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: large;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    gap: 20px;
}

.login input,
.login button {
    margin-left: 10px;
    padding: 5px;
}

main {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}

.actividades,
.ranking,
.datos-interesantes {
    background-color: rgb(85, 85, 83);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.actividades {
    flex: 2;
    margin-right: 20px;
    min-width: 300px;
}

.ranking,
.datos-interesantes {
    flex: 1;
    min-width: 300px;
}

.centrar {
    text-align: center;
}

.marl1em {
    margin-left: 1.8em;
}

.marl2em {
    margin-left: 2em;
}

.mart2em {
    margin-top: 2em
}

.mart4em {
    margin-top: 4em
}
.marl4em {
    margin-left: 4em
}
.padl4em {
    padding-left: 4em
}
.marb10em {
    margin-bottom: 10em;
}
.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title, .card-text, .btn {
    text-align: center;
}
footer {
    background-color: rgba(199, 1, 1, 0.808);
    text-align: center;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}



/* @media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        align-items: center;
    }

    main {
        flex-direction: column;
        padding: 10px;
    }

    .actividades, .ranking, .datos-interesantes {
        margin-right: 0;
    }
} */

.dpfooter {
    display: flex;
    justify-content: center;
}

.textosep {
    margin-left: 2em;
    margin-right: 2em;
}

.fredes {
    margin-top: 0;
    margin-bottom: 0;
}

.iconosep{
    margin-left: 0.5em;
    font-size: large !important;
}

.derechos{
    margin-top: 1em;
    font-size: small !important;
}

.link a :hover {
    background-color: rgb(85, 85, 83);
    text-decoration: none !important;
}

.textologin{
    margin-bottom: 1em;
    font-family: "Open Sans", sans-serif;
}

.formainput {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.olvide {
    display: block;
    text-decoration: none;
    margin-top: 2em;
}
